.card .card-header h5 {
    font-size: 22px;
    font-weight: 500;
}
.card-header { background: white ! important; border:1px solid rgb(230 233 241) ! important;}
.faq-form {
    position: relative;
}
.faq-form .search-icon {
    position: absolute;
    right: 12px;
    top: 9px;
    width: 16px;
    height: 16px;
}
.default-according .card .btn-link {
    font-weight: 500;
    color: #242934;
    font-size: 16px;
}
.dropAnchor{ cursor: pointer;}
.filter-cards-view .checkbox-animated {
    margin-top: 20px;
    margin-bottom: 20px;
}
.faq-accordion label {
    font-weight: 500 ! important;
    font-size: 14px ! important;
    margin-bottom: 15px ! important;
}
.animate-chk label {
    line-height: 1.6;
    cursor: pointer;
}

.checkbox_animated {
    cursor: pointer;
    position: relative;
    margin: 0 1rem 0 0;
}
.d-block {
    display: block!important;
    margin-bottom: 11px;
}

.mat-header-cell {
    color: rgb(23 68 60);
    font-size: 14px;
}
.IconBx i {
    font-size: 20px;
    color: #545e7d;
    cursor: pointer;
}