p {
    padding: 10px;
}

.borderBottomStyle {
    padding: 5px 8px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px dotted #c7ffd9;
    margin-bottom: 0px;
    font-family: 'roboto', sans-serif;
}

.Pheading {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'roboto', sans-serif;
    color: #5eb278;
}

.page-header h3 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 500;
    text-transform: capitalize;
}

ul.bookmark li {
    list-style: none;
    float: right;
    margin-left: 15px;
    padding: 8px;
    border: 1px solid #e6edef;
    background-color: #fff;
    display: inline-block;
    border-radius: 8px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.KVid {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

h4.font98797 {
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 11px;
}

h4.font98797 span {
    font-weight: 500;
}

.bg12 {
    background-color: #40b983;
}

.bg13 {
    background-color: #647ff2;
}

.SchoolStatus {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

.SchoolStatus li {
    margin: 0px 15px 15px 15px;
    transition: 0.5s ease-in;
    background-color: #fff;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .15) !important;
    list-style: none;
    display: inline-table;
    width: 15%;
    border-radius: 7px;
    text-align: center;
    padding: 10px 15px;
}
.SchoolStatus li:last-child {
    margin-right: 0;
}

.SchoolStatus li:nth-child(1) {
    margin-left: 0px ! important;
}

.SchoolStatus li:nth-child(0) {
    margin-right: 0px ! important;
}

.SchoolStatus li:hover {
    transform: scale(1.02);
    z-index: 1;
}

.font64989985 {
    color: #40b983;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}



h4.font26589 {
    font-size: 1em;
    color: #000000;
    letter-spacing: 1px;
}

.TotalValue {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 0px;
    color: #fff;
    letter-spacing: 1px;
}

.TotalContent {
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
    letter-spacing: 1px;
}

/* .bg-primary {
        background-color: #24695c !important;
        color: #fff;
    }

    .bg-secondary {
        background-color: #ba895d !important;
        color: #fff;
    }
    .d-flex span {

        font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Montserrat',sans-serif;
    }
    .d-flex h4 {
        font-weight: 600; font-size: 1.5rem; letter-spacing: 1px;
        font-family: 'Montserrat',sans-serif;
    }
    .flex-grow-1 svg {
        position: absolute;
        right: -14px;
        top: 6px;
        opacity: 0.2;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 100px;
        height: 100px;
    }
    svg {
        vertical-align: baseline;
    }
    .d-flex .flex-grow-1 {
        -ms-flex-item-align: center !important;
        align-self: center !important;
        padding-left:6px;
    }

    .flex-grow-1:hover svg {
        -webkit-transform: rotate(    -5deg) scale(1.1);
        transform: rotate(    -5deg) scale(1.1);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .b-r-4 {
        border-radius: 4px !important;
    } */
.card-body {
    padding: 30px;
}

.bg-light-green {
    background-color: #e9f0ee;
}

.titleSet {
    font-size: 13px ! important;
    font-family: 'Montserrat', sans-serif ! important;
    font-weight: 600 ! important;
    letter-spacing: 0.8px ! important;
    margin-bottom: 5px ! important;
}

.border-bottom-dashed {
    border-bottom: 1px dashed #d8e7d8;
}

.circle {
    font-size: 1em;
    color: white;
    font-weight: 500;
    padding: 5px;
    border-radius: 50px;
}

.teacherStaff {
    list-style: none;
    margin: 0px;
    box-sizing: border-box;
    padding: 15px 20px ! important;
}

.teacherStaff1 {
    list-style: none;
    box-sizing: border-box;
    margin: 0 30px 0 0!important;
    padding-left: 0;
}

.fontsize18px {
    font-size: 18px;
}

.section-heading {
    font-size: 20px;
    font-weight: 600;
    padding: 10px; 
    color: #24695c;
    margin-bottom: 0;
}
.hr-mar hr {
    margin: 0 0 5px 0;
    padding: 0;
}

.teacherStaff li {
    padding: 4px 0px;
}

h2.font896 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.CircleYellow {
    width: 45px;
    height: 45px;
    background: #711e1f;
    position: relative;
    vertical-align: middle;
    border-radius: 50%;
}

.CircleBlue {
    width: 46px;
    height: 46px;
    background: #40b983;
    position: relative;
    vertical-align: middle;
    border-radius: 50%;
}

.Circlegreen {
    width: 46px;
    height: 46px;
    background: #647ff2;
    position: relative;
    vertical-align: middle;
    border-radius: 50%;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .teacherStaff li{ display: inline-table; list-style: none; width:33%; text-align: center; }
    .TeacherHeading{ font-size:16px; font-weight:600; font-family: 'Montserrat', sans-serif; letter-spacing: 0.8px; line-height: 15px;}
    .teacherStaff li h2{ font-size:14px; font-weight:500; font-family: 'Montserrat', sans-serif; margin: 5px 0px; letter-spacing: 0.8px; line-height: 35px; }
    .teacherStaff li h1{ font-size:22px; font-weight:600; font-family: 'Montserrat', sans-serif; margin: 5px 0px; letter-spacing: 0.8px; line-height: 20px; } */

fieldset {
    min-width: 0;
    border: 0;
    border: 1px solid #a0c7bf;
    position: relative;
    background: white;
    padding: 24px 20px 20px;
}

legend {
    float: left;
    width: 100px;
    padding: 5px 10px;
    margin-bottom: 0.5rem;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: inherit;
    position: absolute;
    top: -13px;
    left: 15px;
    background: #e9f0ee;
    color: #24695c;
    border-radius: 10px 1px;
    border: 1px solid #a0c7bf;
}

.KVTt {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 0px;
    letter-spacing: 0.8px;
    line-height: 20px;
}


@import "https://code.highcharts.com/css/highcharts.css";

.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-yaxis .highcharts-axis-line {
    stroke-width: 2px;
}

/* Link the series colors to axis colors */
.highcharts-color-0 {
    fill: #7cb5ec;
    stroke: #7cb5ec;
}

.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
    stroke: #7cb5ec;
}

.highcharts-axis.highcharts-color-0 text {
    fill: #7cb5ec;
}

.highcharts-color-1 {
    fill: #90ed7d;
    stroke: #90ed7d;
}

.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
    stroke: #90ed7d;
}

.highcharts-axis.highcharts-color-1 text {
    fill: #90ed7d;
}








@media screen and (min-width: 1600px) {
    .LoginName{ font-size:1.3em; font-weight:600; color:#434a52; font-family:'Montserrat', sans-serif;}
    ul.StationRegion,
    ul.stationUL{ list-style: none; padding:0px; margin:0px; box-sizing: border-box;}
    ul.StationRegion li{ display: inline-table; margin-left:15px;}
    ul.stationUL li{ display: inline-table; margin:15px 15px 15px 0px; padding-right:15px; border-right:1px solid silver;}
    ul.stationUL li:last-child{ border-right:none;}
    ul.stationUL li:first-child{ padding-left:15px;}
    ul.stationUL li h3{ margin-bottom: 0px; font-weight: 400; font-family:'roboto', sans-serif; letter-spacing: 0.8px;}
    ul.stationUL li .StationValue{ font-weight: 600; color:#434a52; font-family:'Montserrat', sans-serif;}
   
    }
     @media screen and (max-width: 1599px) {
    
        .LoginName{ font-size:1.3em; font-weight:600; color:#434a52; font-family:'Montserrat', sans-serif;}
        ul.StationRegion,
        ul.stationUL{ list-style: none; padding:0px; margin:0px; box-sizing: border-box;}
        ul.StationRegion li{ display: inline-table; margin-left:15px;}
        ul.stationUL li{ display: inline-table; margin:15px 15px 15px 0px; padding-right:15px; border-right:1px solid silver;}
        ul.stationUL li:last-child{ border-right:none;}
        ul.stationUL li:first-child{ padding-left:15px;}
        ul.stationUL li h3{ margin-bottom: 0px; font-weight: 400; font-family:'roboto', sans-serif; letter-spacing: 0.8px;}
        ul.stationUL li .StationValue{ font-weight: 600; color:#434a52; font-family:'Montserrat', sans-serif;}
       
    }
    
    @media screen and (max-width: 768px) {
        .LoginName{ font-size:1.3em; font-weight:600; color:#434a52; font-family:'Montserrat', sans-serif;}
        ul.StationRegion,
        ul.stationUL{ list-style: none; padding:0px; margin:0px; box-sizing: border-box;}
        ul.StationRegion li{ display: inline-table; margin-left:15px;}
        ul.stationUL li{ display: inline-table; margin:15px 15px 15px 0px; padding-right:15px; border-right:1px solid silver;}
        ul.stationUL li:last-child{ border-right:none;}
        ul.stationUL li:first-child{ padding-left:15px;}
        ul.stationUL li h3{ margin-bottom: 0px; font-weight: 400; font-family:'roboto', sans-serif; letter-spacing: 0.8px;}
        ul.stationUL li .StationValue{ font-weight: 600; color:#434a52; font-family:'Montserrat', sans-serif;}
       
    }
    
    
    @media screen and (max-width: 600px) {
        .LoginName{ font-size:1.3em; font-weight:600; color:#434a52; font-family:'Montserrat', sans-serif;}
        ul.StationRegion,
        ul.stationUL{ list-style: none; padding:0px; margin:0px; box-sizing: border-box;}
        ul.StationRegion li{ display: inline-table; margin-left:15px;}
        ul.stationUL li{ display: inline-table; margin:0px 15px; padding-right:15px; border-right:none;}
        ul.stationUL li:last-child{ border-right:none;}
        ul.stationUL li:first-child{ padding-left:15px;}
        ul.stationUL li h3{ margin-bottom: 0px; font-weight: 400; font-family:'roboto', sans-serif; letter-spacing: 0.8px;}
        ul.stationUL li .StationValue{ font-weight: 600; color:#434a52; font-family:'Montserrat', sans-serif;}
       
    }

    /* AG-Grid */
    ::ng-deep .ag-header-group-cell-label {
        background: #24695c !important;
        color: white !important;
        text-align: center !important;
    }

    ::ng-deep .ag-theme-balham .ag-header-group-cell {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }


