<div class="clearfix">
    <h3 class="float-start LoginName">Station Login</h3>
    <div class="float-end">
        <!-- <div class="col-md-3"><span style="font-weight: bolder; color: #427e72;">Region Name : 
        </span>
        <mat-form-field>
            <mat-label>Select Region</mat-label>
            <mat-select (selectionChange)="getStationByRegionId($event.value)" [(ngModel)]="regionCode">
                <mat-option *ngFor="let data of regionList" value="{{data.regionCode}}">{{data.regionName}}</mat-option>               
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3"><span style="font-weight: bolder; color: #427e72;">Station Name : 
        </span>
        <mat-form-field>
            <mat-label>Select Station</mat-label>
            <mat-select (selectionChange)="getKvSchoolByStationId($event.value)" [(ngModel)]="stationCode1">
                <mat-option *ngFor="let data of stationList" value="{{data.statinCode}}">{{data.stationName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3"><span style="font-weight: bolder; color: #427e72;">School Name : 
        </span>
        <mat-form-field>
            <mat-label>Select School</mat-label>
            <mat-select (selectionChange)="onSchoolSelect($event.value)" [(ngModel)]="businessUnitTypeCode">
                <mat-option *ngFor="let data of kvSchoolList" value="{{data.udiseSchCode}}-{{data.kvCode}}">{{data.kvName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div> -->
         <ul class="StationRegion">
            <li>

                <mat-form-field>
                    <mat-label>Select Region</mat-label>
                    <mat-select (selectionChange)="getStationByRegionId($event.value)" [(ngModel)]="regionCode">
                        <!-- <mat-option value="">Select</mat-option> -->
                        <mat-option *ngFor="let data of regionList" value="{{data.regionCode}}">{{data.regionName}}</mat-option>
                        <!-- <mat-option value="NA">NA</mat-option> -->
                    </mat-select>
                </mat-form-field>
               
            </li>
            <li>
                <mat-form-field>
                    <mat-label>Select Station</mat-label>
                    <mat-select (selectionChange)="getKvSchoolByStationId($event.value)" [(ngModel)]="stationCode1">
                        <!-- <mat-option value="">Select</mat-option> -->
                        <mat-option *ngFor="let data of stationList" value="{{data.statinCode}}">{{data.stationName}}</mat-option>
                        <!-- <mat-option value="NA">NA</mat-option> -->
                    </mat-select>
                </mat-form-field>
                
            </li>
            <li>
                <mat-form-field>
                    <mat-label>Select School</mat-label>
                    <mat-select (selectionChange)="onSchoolSelect($event.value)" [(ngModel)]="businessUnitTypeCode">
                        <!-- <mat-option value="Teaching">Select</mat-option> -->
                        <mat-option *ngFor="let data of kvSchoolList" value="{{data.udiseSchCode}}">{{data.kvName}}</mat-option>
                        <!-- <mat-option value="NA">NA</mat-option> -->
                    </mat-select>
                </mat-form-field>
            </li>
        </ul> 
    </div>
</div>

<div class="shadow-sm bg-white border-3">
    <ul class="stationUL">
        <!-- <li>
            <h3>Station Name :
                <span class="StationValue">Narnaul(0123)</span>
            </h3>
        </li> -->
        <li>
            <h3>Station Name :
                <span class="StationValue">{{kvSchoolDetails.station_name}}</span>
            </h3>
        </li>
        <li>
            <h3>Station Code :
                <span class="StationValue">{{kvSchoolDetails.statin_code}}</span>
            </h3>
        </li>
    </ul>
</div>

<!-- <div class="row mt-4">
    <div class="col-md-3">
        <div class="card mt-3 px-4 py-5 green-bg rounded-3">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <h2 class="TolTeacherValue text-white">240</h2>
                  <h3 class="mb-0 TotName text-white">Total School's</h3>
                </div>
                <div class="flex-shrink-0 ms-3">
                    <img src="assets/assets/img/total-school-icon.png" alt="...">
                  </div>
              </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card mt-3 px-4 py-5 blue-bg rounded-3" >
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <h2 class="TolTeacherValue text-white">4635</h2>
                  <h3 class="mb-0 TotName text-white">Total Teacher's</h3>
                </div>
                <div class="flex-shrink-0 ms-3">
                    <img src="assets/assets/img/total-teacher-icon.png" alt="...">
                  </div>
              </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mt-3 p-4  rounded-3" >
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <h2 class="TolTeacherValue mb-2 blue-text">4635</h2>
                  <h3 class="mb-0 blue-text TotalTeachingStaff">Total Teaching Staff</h3>
                </div>
                
        </div>
        <div class="clearfix mt45">
            <div class="float-start"> <h3 class="mb-0">Regular Staff</h3></div>
            <div class="float-end"><span class="fontb">23</span></div>
        </div>
        <div class="clearfix mt-0">
            <div class="float-start"><h3 class="mb-0">Contratual Staff</h3></div>
            <div class="float-end"> <span class="fontb">25</span></div>
        </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="card mt-3 p-4 rounded-3" >
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <h2 class="TolTeacherValue mb-2 green-text">4635</h2>
                  <h3 class="mb-0 green-text TotalTeachingStaff1">Total Non - Teaching Staff</h3>
                </div>
                
        </div>
        <div class="clearfix mt45">
            <div class="float-start"> <h3 class="mb-0">Regular Staff</h3></div>
            <div class="float-end"><span class="fontb">23</span></div>
        </div>
        <div class="clearfix mt-0">
            <div class="float-start"><h3 class="mb-0">Contratual Staff</h3></div>
            <div class="float-end"> <span class="fontb">25</span></div>
        </div>
    </div>
</div> -->
<ul class="display-inline mt-5">
    <li class="p-4 green-bg rounded-3">
       
         <div >
            <div class=" d-flex align-items-center justify-content-center">
                <div class="flex-grow-1">
                    <h2 class="TolTeacherValue text-white">{{dashboardData.noOfSchool}}</h2>
                    <h3 class="mb-0 TotName text-white">Total School's</h3>
                </div>
                <div class="flex-shrink-0 ms-3">
                    <img src="assets/assets/img/total-school-icon.png" alt="...">
                </div>
            </div>
        </div> 
    </li>

    <li class="card p-4 blue-bg rounded-3">
        
         <div >
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <h2 class="TolTeacherValue text-white">{{dashboardData.totalTeacher}}</h2>
                    <h3 class="mb-0 TotName text-white">Total Staff</h3>
                </div>
                <div class="flex-shrink-0 ms-3">
                    <img src="assets/assets/img/total-teacher-icon.png" alt="...">
                </div>
            </div>
        </div> 
    </li>

    <li class="card p-4  rounded-3">
       
         <div>
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <h2 class="TolTeacherValue mb-2 blue-text">{{totalTeachingStaff}}</h2>
                    <h3 class="mb-0 blue-text TotalTeachingStaff">Total Teaching Staff</h3>
                </div>

            </div>
            <div class="clearfix mt45">
                <div class="float-start">
                    <h3 class="mb-0">Regular Staff</h3>
                </div>
                <div class="float-end">
                    <span class="fontb">{{dashboardData.teachingRegular}}</span>
                </div>
            </div>
            <!-- <div class="clearfix mt-0">
                <div class="float-start">
                    <h3 class="mb-0">Contratual Staff</h3>
                </div>
                <div class="float-end">
                    <span class="fontb">{{dashboardData.teachingContractual}}</span>
                </div>
            </div> -->
        </div> 
    </li>

    <li class="card p-4 rounded-3">
        
         <div >
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <h2 class="TolTeacherValue mb-2 green-text">{{nontotalTeachingStaff}}</h2>
                    <h3 class="mb-0 green-text TotalTeachingStaff1">Total Non-Teaching Staff</h3>
                </div>

            </div>
            <div class="clearfix mt45">
                <div class="float-start">
                    <h3 class="mb-0">Regular Staff</h3>
                </div>
                <div class="float-end">
                    <span class="fontb">{{dashboardData.nonteachingRegular}}</span>
                </div>
            </div>
            <!-- <div class="clearfix mt-0">
                <div class="float-start">
                    <h3 class="mb-0">Contratual Staff</h3>
                </div>
                <div class="float-end">
                    <span class="fontb">{{dashboardData.nonteachingContractual}}</span>
                </div>
            </div> -->
        </div> 
    </li>
</ul>


<ul class="display-inline mt-2">
    <li class="card p-4 rounded-3 ">
        <h2 class="TolTeacherValue mb-2 blue-text text-center">Teaching Staff</h2>
        <div class="row mt-2">
            <div class="col-6 text-center border-end">
                <div class="round-box bg-blue"> <i class='bx bx-user-circle iconBlue '></i></div>
                <h4 class="Verified mb-0">Verified </h4>
                <h2 class="mb-0">{{dashboardData.teachingSa}}</h2>
            </div>
            <div class="col-6 text-center">
                <div class="round-box bg-blue"> <i class='bx bx-user-circle iconBlue '></i></div>
                <h4 class="Verified mb-0">Not-Verified </h4>
                <h2 class="mb-0">{{teachingNotVerified}}</h2>
            </div>
        </div>
        <div class="pattern">
            <i class='bx bx-user-circle imgRotate'></i>
        </div>
    </li>
    <li class="card p-4 rounded-3 ">
        <h2 class="TolTeacherValue mb-2 silver-text text-center">Non-Teaching Staff</h2>
        <div class="row mt-2">
            <div class="col-6 text-center border-end">
                <div class="round-box bg-sil"> <i class='bx bx-user-circle iconsilver '></i></div>
                <h4 class="Verified mb-0">Verified </h4>
                <h2 class="mb-0">{{dashboardData.nonteachingSa}}</h2>
            </div>
            <div class="col-6 text-center">
                <div class="round-box bg-sil">  <i class='bx bx-user-circle iconsilver '></i></div>
                <h4 class="Verified mb-0">Not-Verified </h4>
                <h2 class="mb-0">{{nonteachingNotVerified}}</h2>
            </div>
        </div>
        <div class="pattern">
            <i class='bx bx-user-circle imgRotate'></i>
        </div>
    </li>

    <li class="card p-4 rounded-3 ">
        <h2 class="TolTeacherValue mb-2 blue-text text-center">Transfer(Teaching Staff)</h2>
        <div class="row mt-2">
            <div class="col-6 text-center border-end">
                <div class="round-box bg-blue"> <i class='bx bx-rocket iconBlue '></i></div> 
                <h4 class="Verified mb-0">Initiated </h4>
                <h2 class="mb-0">0</h2>
            </div>
            <div class="col-6 text-center">
                <div class="round-box bg-blue"><i class='bx bx-rocket iconBlue '></i></div> 
                <h4 class="Verified mb-0">Not-Initiated</h4>
                <h2 class="mb-0">0</h2>
            </div>
        </div>
        <div class="pattern">
            <i class='bx bx-rocket imgRotate'></i>
        </div>
    </li>
    <li class="card p-4 rounded-3 ">
        <h2 class="TolTeacherValue mb-2 silver-text text-center">Transfer(Non-Teaching Staff)</h2>
        <div class="row mt-2">
            <div class="col-6 text-center border-end">
                <div class="round-box bg-sil"> <i class='bx bx-rocket iconsilver '></i></div>
                <h4 class="Verified mb-0">Initiated </h4>
                <h2 class="mb-0">0</h2>
            </div>
            <div class="col-6 text-center">
                <div class="round-box bg-sil"> <i class='bx bx-rocket iconsilver '></i></div> 
                <h4 class="Verified mb-0">Not-Initiated </h4>
                <h2 class="mb-0">0</h2>
            </div>
        </div>
        <div class="pattern">
            <i class='bx bx-rocket imgRotate'></i>
        </div>
    </li>

</ul>